.header {
  background-color: var(--dark-grey);
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-dark-color);
}

.header h2 {
  font-weight: 400;
  font-size: 2em;
}

.nav_bar {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
}

.nav_bar_list {
  display: inline;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  padding: 20px;
}