/* dark mode contact forms */
.contact_main {
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  box-sizing: border-box;
}

.contact_main:focus-visible {
  outline: none;
}

.contact_image {
  background-image: url("https://image.shutterstock.com/shutterstock/photos/1932503318/display_1500/stock-photo-aerial-photography-ocean-swell-sea-ripple-water-nature-waves-detail-texture-background-wallpaper-1932503318.jpg");
  width: 30%;
}

.contact_forms {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-around;
  align-items: left;
}

.contact_me_title {
  font-size: 2em;
}

.contact_forms label {
  margin: 15px 10px;
  line-height: 2em;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: .4em;
  display: block;
}

.contact_main input,
textarea {
  display: block;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .137);
  padding: 10px 20px;
  width: 80%;
  text-align: left;
  resize: none;
  outline: none;
  font-size: .8em;
  color: white;
}

.contact_main textarea {
  max-width: 100%;
}

.contact_main input:focus,
textarea:focus {
  border: 1px solid white;
  color: white;
  letter-spacing: .4em;
  font-size: .9em;
}