@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;500&family=Montserrat:wght@100&display=swap');

:root {
  --primary-dark-color: #00BB8E;
  --secondary-dark-color: #F2AF02;
  --primary-light-color: #F07936;
  --secondary-light-color: #8751DA;
  --white: #F2F2F2;
  --dark-grey: #434343;
}

/* links clean up */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* inputs clean up */
input, textarea {
  resize: none;
  outline: none;
}

/* reset buttons style */
button {
  border: none;
}

body {
  font-family: 'Exo 2', 'sans-serif';
  background-color: var(--dark-grey);
}